* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Britannic Bold", sans-serif;
    background: #c2d0d0;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
    background: black;
    color: var(--orange);
    border-radius: 10px;
}

.btn:hover {
    background: #414349;
}

.btn:active {
    background: #56585D;
    border: 2px solid var(--orange);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 30px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: #333333;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

h5 {
    font-size: 24px;
    color: green;
}
strong {
    color: #F79300;
}

label {
    font-size: 24px;
    color: var(--orange);
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px 0;
    width: 250px;
}

.checker {
    color: white;
    font-size: 30px;
}

.btn-slide {
    display: block;
    width: 80px;
    height: 80px;
    background: var(--orange);
    color: black;
    font-size: 24px;
    border-radius: 30%;
    border: none;
    font-weight: 800;
    z-index: 1;
}

.btn-slide:hover {
    background: green !important;
    cursor: pointer;
    color: white;
}

:root {
    --orange: #ffffff;
    --black: black;
}