/* HEADER */

.header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(
            rgb(48, 48, 48) 13%,
            rgb(75, 76, 79) 40%,
            #0c0d11 86%
    );
    text-shadow: 0 -2px 0 black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
}

/* LOGOTYPE */

.logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.menu_link a {
    color: var(--orange);
}

.menu_link a:hover {
    color: rgba(173, 245, 173, 0.87);
}

/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background: silver;
}

.inner_main {
    display: flex;
    justify-content: space-around;
}

.main_block_heading {
    width: 500px;
    padding: 100px  50px;
    background-color: #F8F9FA;
    border-radius: 30px;
    box-shadow: rgba(240, 201, 46, 0.4) 5px 5px,
    rgba(240, 208, 46, 0.3) 10px 10px, rgba(240, 230, 46, 0.2) 15px 15px,
    rgba(240, 195, 46, 0.1) 20px 20px, rgba(204, 177, 80, 0.05) 25px 25px;
}

.main_block_heading p {
    width: 400px;
    margin-top: 30px;
    font-size: 16px;
    color: #333333;
}

    /* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-color {
    border-radius: 30px !important;
    background-color: #333 !important;
}

.btn-color:hover {
    background-color: black !important;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: silver;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-image: linear-gradient(
            rgb(48, 48, 48) 13%,
            rgb(75, 76, 79) 40%,
            #0c0d11 86%
    );
    text-shadow: 0 -2px 0 black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
}

.footer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 600;
}


/* SLIDER BLOCK */

.inner_slider {
    display: flex;
    justify-content: space-around;
}

.slider_block {
    padding: 100px 0;
    background: silver;
}

.slider {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 3px solid var(--orange);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #F8F9FA;
    margin-bottom: 10px;
}

.slider_image {
    width: 400px;
    height: 400px;
}

.slider_image img{
    width: 100%;
    height: 100%;
}


.slider_buttons {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.slide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: #333333;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.slide_card h3 {
    color: green;
    text-transform: uppercase;
    font-size: 22px;
}

.slide_card p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

.slide_card a {
    color: green;
    text-decoration: underline;
}

.slide.active_slide {
    display: block;
}

/* VIDEO BLOCK */

.block_video {
    background: silver;
    padding: 100px 0;
}

.inner_block_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 150px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    background: linear-gradient(-45deg, #ee7752, #4b464a, #9f8f3c, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.modal_input, .btn_min {
    margin-top: 20px;
}

.btn_min {
    width: 250px !important;
    font-size: 16px !important;
    border: 2px solid transparent !important;
    background: green !important;
}


/*-------BOTTLE-------*/

.botlle {
    background: silver;
    padding: 100px 0;
}

.bottle_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottle_inner h2 {
    color: #333333;
}

.bowl {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s linear infinite;
    transform-origin: bottom center;
    animation-play-state: run;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-22deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.bowl::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;

}

.bowl::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    transform-origin: center;
    animation: animatebowlshadow 5s linear infinite;
    border-radius: 50%;
    animation-play-state: running;

}


@keyframes animatebowlshadow {
    0% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    25% {
        left: 55%;
        width: 140px;
        height: 65px;
    }
    50% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    75% {
        left: 45%;
        width: 140px;
        height: 65px;
    }
    100% {


    }
}


.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite;
    animation-play-state: running;
}

@keyframes animateliquid {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-22deg);
    }
    30% {
        transform: rotate(-23deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(22deg);
    }
    80% {
        transform: rotate(23deg);
    }
    100% {
        transform: rotate(0deg);
    }


}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
    animation-play-state: running;

}

@keyframes animateshadow {
    0% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    25% {
        left: 55%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    50% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }
    75% {
        left: 45%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    100% {
    }
}
